@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0; 
	background: #3A3845;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800; 
    text-align: center;
}

#type {
    padding-top: 5em;
    padding-bottom: 5em;
}
 
input {
    font-size: 30px;
    background-color: white; 
}

#typee {
    padding-top: 1em;
}

.title {
    font-size: 5em;
}

.titlediv {
    color: #F7CCAC;
}

button {
    font-size: 30px;
    border-radius: 10px;
    background-color: #C69B7B;
}

button:active {
    background-color: #826F66;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }

button:hover {
    background-color: #826F66;
}

.counter {
    color: #F7CCAC;
}

.link {
    padding-top: 50px;
 }
 
 .linkText { 
     padding-top: 50px;
     color: #C69B7B;
 }

 a:hover {
    color: #826F66;
 }

 h5 {
    padding-top: 50px;
    padding-right: 1500px;
    color: white;
  }